@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
@import "tailwindcss";


:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Barlow Semi Condensed";

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-main-purple: rgb(137,131,142);
  --color-blue-gradient: radial-gradient(hsl(214,47%,23%), hsl(237,48%,15%));
  --font-display: "Barlow Semi Condensed";
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
