@import "tailwindcss";
@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");

:root {
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-main-purple: rgb(137,131,142);
  --color-radial-gradient-blue: radial-gradient(hsl(214,47%,23%) to hsl(237,48%, 15%));
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
